.header {
  line-height: 60px;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif !important;
}

.navBar {
  height: 82px;
  color: white;
  text-decoration: none;
  background-color: #343a40;
}

.float-right {
  color: white;
  float: right;
  margin-right : 10px;
}

.googleBtn{
  margin : 0 10px 0 10px;
}
.button {
  width: 160px !important;
  height: 40px !important;
}
.gotohome {
  color: white;
  font-size: 22px;
  margin: 20px;
  line-height: 84px;
  font-size: 30px;
  text-decoration: none;
}

.google-btn,
.logout,
.allList,
.myList {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 17px;
}

.separator {
  margin: 0 10px 0 0;
}

.gotohome:hover,
.google-btn:hover,
.logout:hover,
.allList:hover,
.myList:hover {
  color: red;
  text-decoration: none;
}
